#aboutMeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

#aboutMeContainer h1 {
    margin-bottom: 50px;
}

.presentationContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.presentation {
    display: flex;
    width: 80%;
}

.presentation img {
    height: 25vh;
}

.aboutMeText {
    margin-left: 40px;
    width: 50%;

}

.aboutMeText p {
    margin-top: 20px;
    color: var(--gray-color);
}

/* informations list  */
.personalData {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    width: 100%;
    padding: 2% 5%;
    text-align: center;
    font-size: 14px;
    margin-bottom: 30px;
}

.personalData div {
    transition-duration: 0.4s;
}

.personalData div:hover {
    padding-bottom: 50px;
}

.personalData img {
    width: 30%;
}

.personalData p {
    color: var(--gray-color);
}

@media screen and (max-width:1200px) {
    .aboutMeText h2 {
        font-size: 21px;
    }

    .aboutMeText {
        width: 70%;
    }

    .aboutMeText p {
        font-size: 15px;
    }

    .aboutMeText p {
        margin-top: 20px;
        color: var(--gray-color);
    }

    .presentation img {
        height: 22vh;
    }
}

@media screen and (max-width:980px) {
    .personalData img {
        width: 22%;
    }

    .personalData {
        font-size: 12px;
    }
}

@media screen and (max-width:820px) {
    .aboutMeText h2 {
        font-size: 18px;
    }

    .aboutMeText p {
        font-size: 13px;
    }

    .personalData {
        font-size: 10px;
    }

}

@media screen and (max-width:630px) {
    .presentationContainer {
        margin-bottom: 10px;
    }

    .presentation {
        display: flex;
        flex-direction: column;
        width: 85%;
    }

    .presentation img {
        height: 13vh;
    }

    .photo {
        text-align: center;
        margin-bottom: 10px;
    }

    .aboutMeText {
        width: 100%;
        margin: 0px;
    }

    .aboutMeText h2 {
        font-size: 16px;
    }

    .aboutMeText p {
        font-size: 11px;
        margin-top: 10px;
    }

    #aboutMeContainer {
        margin-bottom: 10px;
    }

    #aboutMeContainer h1 {
        margin-bottom: 20px;
    }

    .personalData {
        font-size: 7px;
        padding: 0px;
        margin-bottom: 10px;
    }

}