#homeContainer {
    display: flex;
    height: 65vh;
}

.textContainer {
    height: 100%;
    width: 50%;
    display: inline-block;
    padding-top: 7%;
    padding-left: 10%;
}

.imageContainer {
    display: flex;
    height: 100%;
    width: 50%;
    transition: all 0.8s ease;
}

.imageContainer:hover {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
}

.arrowContainer {
    display: flex;
    height: 20vh;
    justify-content: center;
    padding-top: 50px;
}

.arrowContainer img {
    height: 50%;
    cursor: pointer;
}

.title {
    color: var(--primary-color);
    transition: all 0.8s ease;
}

.title span {
    color: var(--purple-color);
}

.title:hover {
    color: var(--purple-color);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
}

.subTitle {
    margin: 15px 0px 15px 0px;
    color: var(--gray-color);
}

.contactButton {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px 0px;
    width: 400px;
}

.contactButton button {
    width: 190px;
    border: 1px solid var(--purple-color);
    padding: 4px 15px;
    border-radius: 3px;
    color: var(--color-text-button);
    font-size: 18px;
    background-color: var(--purple-button);
    margin: 5px 0px;
    transition: all 0.3s ease;
    font-family: 'Fira Code', monospace;
}

.contactButton button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: var(--purple-color);
    padding: 5px 15px;
    margin: 0px 0px;
    font-size: 19px;
    box-shadow: 1px 1px 10px var(--button-shadow);
}

#downloadBtn {
    background-color: var(--download-btn-bg);
    color: var(--download-btn-color);
}



/* IMAGE //////////// */

.imageContainer {
    display: flex;
}

.image img {
    width: 65%;
    margin-left: 20px;
}