#homeContainer {
    display: flex;
    height: 65vh;
}

.textContainer {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 50%;
    align-items: center;
    padding-bottom: 30px;
}


.imageContainer {
    display: flex;
    width: 50%;
    transition: all 0.8s ease;
    /* border: 2px solid red; */
}
.image{
    /* border: 2px solid blue; */
    width: 66%;
}

.image img {
    height: 90%;

}

.imageContainer:hover {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
}

.arrowContainer {
    display: flex;
    height: 20vh;
    justify-content: center;
    padding-top: 50px;
}

.arrowContainer img {
    height: 50%;
    cursor: pointer;
}


.subTitle {
    margin: 15px 0px;
    color: var(--gray-color);
    font-size: 18px;
}

.contactButton {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    height: 40px;
}

.contactButton button {
    height: 38px;
    padding: 5px 30px;
    font-size: 20px;
    border: 1px solid var(--purple-color);
    border-radius: 3px;
    color: var(--color-text-button);
    background-color: var(--purple-button);
    transition: all 0.3s ease;
    font-family: 'Fira Code', monospace;
}

.contactButton button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: var(--purple-color);
    font-size: 21px;
    box-shadow: 1px 1px 10px var(--button-shadow);
}

#downloadBtn {
    background-color: var(--download-btn-bg);
    color: var(--download-btn-color);
}

@media screen and (max-width:1200px){
    .image img {
        height: 80%;
    }
    .subTitle {
        font-size: 15px;  
    }
    .contactButton {
        margin-right: 20px;
    }
    .contactButton button{
        height: 38px;
        padding: 5px 30px;
        font-size: 16px;
    }
    .contactButton button:hover {
        font-size: 17px;
    }

}


@media screen and (max-width:980px){
    .image img {
        height: 70%;
    }
    .subTitle {
        font-size: 13px;  
    }
    .contactButton button{
        height: 38px;
        padding: 5px 23px;
        font-size: 13px;
    }
    .contactButton button:hover {
        font-size: 14px;
    }

}
@media screen and (max-width:820px){

    #homeContainer {
        height: 40vh;
    }

    .image img {
        height: 72%;
    }
    .arrowContainer {
        padding-top: 10px;
    }
    .subTitle {
        font-size: 12px;  
    }
    .arrowContainer img {
        height: 30%;
        cursor: pointer;
    }

}