#projectsContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 60px;
}

#projectsContainer h1 {
    margin-bottom: 50px;
}

.top {
    display: flex;
    justify-content: center;
}

.top div {
    height: 40vh;
    width: 25vh;
    background-color: rgba(96, 127, 127, 0.611);
    margin: 6px 8px;
    border-radius: 2px;
}

.bottom div {
    height: 40vh;
    width: 25vh;
    background-color: rgba(96, 127, 127, 0.611);
    margin: 6px 8px;
    border-radius: 2px;
}

.bottom {
    display: flex;
    justify-content: center;
}

@media screen and (max-width:1200px) {
    .top div {
        height: 36vh;
        width: 21vh;
    }
    .bottom div{
        height: 36vh;
        width: 21vh;
    }

}
@media screen and (max-width:820px){
    .top div {
        height: 30vh;
        width: 15vh;
    }
    .bottom div{
        height: 30vh;
        width: 15vh;
    }

}
@media screen and (max-width:630px){

    .top div {
        height: 27vh;
        width: 14vh;
    }
    .bottom div{
        height: 27vh;
        width: 14vh;
    }


}
