#footerContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#informations {
    display: flex;
    justify-content: space-around;
    text-align: start;
    margin: 0px 200px;
}

#arrowFooter {
    margin-bottom: 30px;
    transition: all 0.5s ease;
}

#arrowFooter:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

#arrowFooter a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

/* LeftSide /////////////////// */
#name h4 {
    display: flex;
    align-items: center;
    color: #ABB2BF;
    margin-bottom: 13px;
}

#name img {
    margin-right: 15px;
}

/* RightSide /////////////////// */
#contact {
    height: 200px;
}

#contact h2 {
    margin-bottom: 30px;
}

#contact li {
    list-style-type: none;
    margin-bottom: 15px;
    display: flex;
}

#contact img {
    margin-right: 5px;
}

/* Bottom ///////////////////*/
#linksButtons img {
    margin: 15px 15px;
}

#copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #7a4ae247;
    height: 50px;
    font-size: 13px;
    color: #ABB2BF;
}