#projectsContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 60px;
}

#projectsContainer h1 {
    margin-bottom: 50px;
}

.top {
    display: flex;
    justify-content: center;
}

.top div {
    height: 40vh;
    width: 25vh;
    background-color: rgba(240, 255, 255, 0.221);
    margin: 6px 8px;
    border-radius: 2px;
}

.bottom div {
    height: 40vh;
    width: 25vh;
    background-color: rgba(240, 255, 255, 0.221);
    margin: 6px 8px;
    border-radius: 2px;
}

.bottom {
    display: flex;
    justify-content: center;
}